.main-container{
    display: flex;
    width: 800px;
    height: 350px;
    background-color: rgb(2, 14, 54);
}
.inner-container{
    display: flex;
    flex-direction: row;
    background-color: rgb(27, 19, 78);
    margin: 2%;
}
.img1{
    display: flex;
    flex-direction: column; 
    margin-right: 5px;
}
.img2{
    display: flex;
    flex-direction: column; 
 
    margin-right: 5px;
  


}
.img3{
    display: flex;
    flex-direction: column; 
    


}
.name{
    display: flex;
    align-self: flex-end;
    margin-right: 5px;
    color: white;
    margin-bottom: 5px;

}
.position{
    display: flex;
    color: rgb(207, 199, 199);
}